<form action="/auth/login" method="POST">
  <label>Email:
    <input type="email" name="email" />
  </label>
  <label>password:
    <input type="password" name="password" />
  </label>
  <button>Valider</button>
</form>
{{#if errorMessage}}
  <div class="error">
    {{errorMessage}}
  </div>
{{/if}}