<div class="register">
    <h2>Bienvenue sur la page d'inscription</h2>
    <form action="/auth/signUp" method="POST" class="register">
        <label>Pseudo:
            <input type="text" name="pseudo" {{#if oldValues.pseudo}} value="{{ oldValues.pseudo }}" {{/if}}/></label>
        <label>Email:
            <input type="email" name="email" {{#if oldValues.email}} value="{{ oldValues.email }}" {{/if}}/></label>
        <label>Mot de passe:
            <input type="password" name="password"/></label>
        <button>Inscription</button>
    </form>
    {{#if errorMessage}}
        <div class="error">
            {{ errorMessage }}
        </div>
    {{/if}}
</div>

    <script src="/javascripts/register.js"></script>
