<div class="bubble">
  <h3>Rejoins la communauté</h3>
  <img src="/images/codicon_account.png" alt="icon signup" />
  <a href="/auth/signup"><button>Inscription</button></a>
</div>
{{#if message}}
  <div class="message">
    <p>{{message}}</p>
  </div>
{{/if}}
{{#if errorMessage}}
  <div class="error">
    <p>{{errorMessage}}</p>
  </div>
{{/if}}