<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  </head>
  <body>
    <canvas id="background"> </canvas>
    <header>
      <img class="logo" src="/images/LOGO.png" alt="logo" />
      <nav>
        <div class="btnf">
          <button>Forum</button>
        </div>
        <a href="/auth/signup"><img src="/images/codicon_account.png" alt="icon signup" /></a>
        <a href="/auth/login"><img
            src="/images/ant-design_login-outlined.png"
            alt="icon login"
          /></a>
      </nav>
    </header>
      <main>
    {{{body}}}
    
    </main>
    <footer class="footer">
    <div >
        <a href="/">Forum Faas
            <img src="/images/LOGO.png" alt="logo"></a>
        </div>
        <ul class="linkfooter">
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <address>
                    <a href="mailto:massi.messalti@gmail.com">Contact US</a>
                </address>
            </li><br>
            <li>
              <a href="">Questions</a>
            </li>
        </ul>
    </footer>

    <script src="/javascripts/background.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>