<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <button class="navigation"><a href="/forum"> Forum</a></button>
      {{#if isLog}}
        <button class="navigation"><a href="/logout"> Déconnexion</a></button>
      {{else}}
        <button class="navigation"><a href="/login"> Inscription/connexion</a></button>
      {{/if}}
      <button class="navigation"><a href="/function/insert"> Insérer code</a></button>
      <button class="navigation"><a href="/doc"> Doc Api</a></button>
    </header>

    {{{body}}}

    <script src="/javascripts/script.js"></script>
  </body>

</html>