<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    </head>
    <body>
        <canvas id="background"></canvas>
        <header>
            <img class="logo" src="/images/LOGO.png" alt="logo"/>
            <nav>
                <div class="btnf">
                    <button>Forum</button>
                </div>
                <a href="/auth/signup"><img src="/images/codicon_account.png" alt="icon signup"/></a>
                <a href="/auth/login"><img src="/images/ant-design_login-outlined.png" alt="icon login"/></a>
            </nav>
        </header>
        <main>
            {{{ body }}}

        </main>
        <footer class="footer">
            <div class="footertitle">
                <a href="/">Forum Faas</a>
            </div>
            <ul class="linkfooter">
                <li class="linkfooter1">
                    <a href="/">HOME</a>
                </li>
                <li class="linkfooter2">
                    <address>
                        <a href="mailto:massi.messalti@gmail.com">Contact US</a>
                    </address>
                </li>
                <li class="linkfooter3">
                    <a href="">Questions</a>
                </li>
            </ul>
            <div class="logocontact">
                <div class="dropdown">
                    <img src="/images/logoLinkDin.png" alt="logolink" onclick="myFunctionlinkdin()" class="linkdinlogo dropbtn">
                    <div id="myDropdownl" class="dropdown-content dropdwnlinkdin ">
                        <a href="https://www.linkedin.com/in/massinissa-messalti-32a693106/">Massytak</a>
                        <a href="#about">Lotiko</a>
                    </div>
                </div>
                <div class="dropdown">
                    <img src="/images/logoSlack.png" alt="logoslack" onclick="myFunctionslack()" class="slacklogo dropbtn">
                    <div id="myDropdowns" class="dropdown-content dropdwnslack">
                        <a href="https://www.linkedin.com/in/massinissa-messalti-32a693106/">Massytak</a>
                        <a href="#about">Lotiko</a>
                    </div>
                </div>
                <div class="dropdown">
                    <img src="/images/logoGitHUB.png" alt="logogit" onclick="myFunctiongit()" class="gitlogo dropbtn">
                    <div id="myDropdowng" class="dropdown-content dropdwngit ">
                        <a class="gitme" href="https://www.linkedin.com/in/massinissa-messalti-32a693106/">Massytak</a>
                        <a class="gitme" href="#about">Lotiko</a>
                    </div>
                </div>


            </div>
        </footer>

        <script src="/javascripts/background.js"></script>
        <script src="/javascripts/script.js"></script>
        <script>
            /* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
            function myFunctionlinkdin() {
                
                document.getElementById("myDropdownl").classList.toggle("show");
                

            }
            function myFunctionslack() {
               
                    document.getElementById("myDropdowns").classList.toggle("show");
                
            }
            function myFunctiongit() {
                
                    document.getElementById("myDropdowng").classList.toggle("show");
            
            }


            // Close the dropdown if the user clicks outside of it
            document.getElementById("myDropdowng").addEventListener('mouseleave', function (event) {
                if (! event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            })
            document.getElementById("myDropdowns").addEventListener('mouseleave', function (event) {
                if (! event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            })
            document.getElementById("myDropdownl").addEventListener('mouseleave', function (event) {
                if (! event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            })
        </script>
    </body>
</html>
