<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/png" href="/images/LOGO.png" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

  </head>

  <body>

    <canvas id="background"></canvas>
    <header>
      <img class="logo" src="/images/LOGO.png" alt="logo" />
      <nav>
        <div class="btnf">
          <button>Forum</button>
        </div>
        <a href="/auth/signup"><img src="/images/codicon_account.png" alt="icon signup" /></a>
        {{#if isLog}}
          <a href="/auth/logout"><img
              src="/images/ant-design_logout-outlined.png"
              alt="icon login"
            /></a>
        {{else}}
          <a href="/auth/login"><img
              src="/images/ant-design_login-outlined.png"
              alt="icon login"
            /></a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer class="footer">
      <div class="footertitle">
        <a href="/">Forum Faas</a>
      </div>
      <ul class="linkfooter">
        <li class="linkfooter1">
          <a href="/">HOME</a>
        </li>
        <li class="linkfooter2">
          <address>
            <a href="mailto:massi.messalti@gmail.com">Contact US</a>
          </address>
        </li>
        <li class="linkfooter3">
          <a href="">Questions</a>
        </li>
      </ul>
      <div class="logocontact">
        <div class="dropdown">
          <img
            src="/images/logoLinkDin.png"
            alt="logolink"
            id="imgLinkdIn"
            class="linkdinlogo dropbtn"
          />
          <div id="myDropdownl" class="dropdown-content dropdwnlinkdin">
            <a href="https://www.linkedin.com/in/massinissa-messalti-32a693106/">Massytak</a>
            <a href="#about">Lotiko</a>
          </div>
        </div>
        <div class="dropdown">
          <img
            src="/images/logoSlack.png"
            alt="logoslack"
            id="imgSlack"
            class="slacklogo dropbtn"
          />
          <div id="myDropdowns" class="dropdown-content dropdwnslack">
            <a href="https://app.slack.com/client/T02CQ4EN4/D0195KDG5MJ">Massytak</a>
            <a href="#about">Lotiko</a>
          </div>
        </div>
        <div class="dropdown">
          <img src="/images/logoGitHUB.png" alt="logogit" id="imgGit" class="gitlogo dropbtn" />
          <div id="myDropdowng" class="dropdown-content dropdwngit">
            <a class="gitme" href="https://github.com/massytak">Massytak</a>
            <a class="gitme" href="#about">Lotiko</a>
          </div>
        </div>

      </div>
    </footer>

    <script src="/javascripts/background.js"></script>
    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/footer.js"></script>

  </body>

</html>