<main class="register">
<h2>Bienvenue sur la page d'inscription</h2>
<form action="/home/register" method="POST" class="register">
    <label for="">Pseudo:
        <input type="text" name="pseudo"></label>
    <label>Email:
        <input type="email" name="email"></label>
    <label>Mot de passe:
        <input type="password" name="password"></label>
    <label>Confirmer le mot de passe:
        <input type="password" name="confirmPw"></label>
    <button>Inscription</button>
</form>
</main>