<div>
  <img src="" alt="" />
  <div class="user-infos">
    <p class="user-name"></p>
    <p class="user-mail"></p>
  </div>
  <a href="/user/edit"><img src="/images/editaccount.png" alt="icon edit" /></a>
  <a href="/user/delete"><img src="/images/deleteaccount.png" alt="icon delete" /></a>
</div>