<div class="user-details">
  <div class="user-avatar">
    <img src="" alt="" />
    <button><a href=""></a></button>
  </div>
  <form action="">
    <input type="text" name="" id="" />
    <input type="text" name="" id="" />
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <button></button>
  </form>
</div>