<div class="user-details">
  <div>
    <img class="avatar" src="{{avatar}}" alt="avatar" />
  </div>
  <form action="/user/edit">
    <input type="file" name="avatar" />
    <label>Nom:
      <input type="text" name="name" value="{{name}}" />
    </label>
    <label>Email:
      <input type="text" name="" value="{{email}}" />
    </label>
    <label>Description:
      <textarea name="description" value="{{description}}" cols="30" rows="10"></textarea>
    </label>
    <button>Valider</button>
  </form>
</div>