.all-block {
  display: flex;
  width: 90%;
  padding: 2em;
}
.block-fun, .block-test {
  background-color: rgba(4, 129, 156, 1);
  min-width: 48%;
  border-radius: 5px;
  margin: auto;
}
h1 {
  text-align: center;
}
.head-detail {
  display: flex;
  margin: 0 2em;
  align-items: center;
  color: rgba(228, 153, 6, 1);
}
.title-crea {
  margin-right: 2em;
}
.avatar {
  margin-right: 1em;
}
.name {
  text-align: left;
}

code {
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  margin:2em
}
.icos {
  margin: auto;
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.fun-ico {
  float: left;
}
.explication {
  background-color: rgb(211, 217, 219);
  color: rgb(8, 57, 68);
  padding-bottom: 2em;
  margin: 2em;
}
.explication-text {
  padding: 1em;
  margin:2em;
}

.hljs.language-json > .hljs-punctuation {
  color: white;
}
