.presentations {
  background-color: rgba(4, 129, 156, 1);
  border-radius: 5px;
  min-width: 30%;
  text-align: center;
}
.user-block {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
  border: 2px solid rgba(228, 153, 6, 1);
  margin: 1em 2em;
}
.user-title {
  display: flex;
  align-items: center;
}
.name {
  flex: 1;
}
.title {
  margin: 0.5em 2em 0.5em;
}
.hide {
  display: none;
}
.show {
  display: block;
}
nav {
  display: flex;
  justify-content: center;
}

.pagination {
  display: inline-block;
  border: 1px solid rgba(228, 153, 6, 1);
  border-radius: 5px;
}

.btn-less-page {
  border-radius: 5px 0 0 5px;
}
.btn-more-page {
  border-radius: 0 5px 5px 0;
}
.btn-page {
  border-radius: 0;
}
.pagination button {
  display: flex;
  align-items: center;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination button.active {
  background-color: #35578b;
  color: rgba(228, 153, 6, 1);
}

.pagination button:hover:not(.active) {
  background-color: rgb(163, 177, 194);
}
