.presentations {
  background-color: rgba(4, 129, 156, 1);
  border-radius: 5px;
  min-width: 30%;
  text-align: center;
  margin: 1em;
  min-height: 400px;
  position: relative;
}
.avatar {
  height: 40px;
  width: 40px;
}
.btn-details {
  height: 30px;
  border-radius: 5px;
}
.user-block,
.function-block {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
  border: 2px solid rgba(228, 153, 6, 1);
  margin: 1em 2em;
}
.user-title,
.function-title {
  display: flex;
  align-items: center;
}
.name {
  flex: 1;
  width: 7em;
}
.title {
  margin: 0.5em 2em 0.5em;
}
.hide {
  display: none;
}
.show {
  display: block;
}
nav {
  display: flex;
  justify-content: center;
}

.pagination-users {
  display: flex;
  border: 1px solid #35578b;
  border-radius: 5px;
  margin-bottom: 0.5em;
  width: 60%;
  position: absolute;
  bottom: 0;
  left: 20%;
}

.btn-less-page-users {
  border-radius: 5px 0 0 5px;
  flex: 2;
  text-align: center;
}
.btn-more-page-users {
  border-radius: 0 5px 5px 0;
  flex: 2;
}
.btn-page-users {
  border-radius: 0;
  flex: 2;
}
.pagination-users button {
  color: black;
  transition: background-color 0.3s;
}

.pagination-users button.active {
  background-color: #35578b;
  color: rgba(228, 153, 6, 1);
}

.pagination-users button:hover:not(.active) {
  background-color: rgb(163, 177, 194);
}
button :first-child {
  margin: auto;
}
