* {
  box-sizing: border-box;
}
body {
  background-color: black;
  color: aliceblue;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: -1;
}
////////////////
///// HEADER
////////////////
header {
  display: flex;
  align-items: center;
  background-color: rgba(13, 109, 127, 1);
  height: 3em;
  width: 90%;
  border-radius: 5px;
  margin: 1em auto;
  padding: 0 2em;
}
.logo {
  height: 38px;
  width: 50px;
}
nav {
  display: flex;
  margin: auto 2em;
  flex: 1;
}
nav .btnf {
  flex: 1;
}
nav a {
  margin-left: 2em;
}
.btnf button {
  width: 7em;
  margin-left: 2em;
  background-color: rgba(72, 104, 215, 0.41);
  color: rgba(228, 153, 6, 1);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  height: 2em;
}
///////////////////////////////////////////////////
//////////////////////////////////////////////////
// a {
//   color: #00b7ff;
// }

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}
