<link rel="stylesheet" href="/stylesheets/styles.css">
<div class="postanswer modal">
    
    <form action="/forum/answer" method="post">
        <label>
            <h4>Title:</h4>
            <p>Soyer précis et imaginez que vous posez une question à une autre personne.</p>
            <input type="text" name="title">
        </label>
        <label>
            <h4>Votre question</h4>
            <p>Incluez toutes les information dont quelqu'un aurait besoin pour répondre à votre question</p>
            <textarea name="body" id="editor"  > Votre question </textarea>
            

        </label>
        <button class="btnposter">Poster</button>
    </form>
   
</div>
 {{#if errorMessage}}
     <div class="error">
            {{ errorMessage }}
        </div>
    {{/if}}
    
<script src="/javascripts/ckeditor.js"></script>



{{!-- <script src="[ckeditor-build-path]/ckeditor.js"></script>   --}}
