<a href="/forum/presentation"><button>Presentations</button></a>
{{! bloc presentation }}
<a href="/forum/function"><button>Fonction</button></a>
{{! bloc function }}
{{! <div class="block">
  <h1>fonction</h1>
  <button class="new"></button>
  <div class="question">
    each questions
  </div>
</div> }}
<a href="/forum/answer"><button>Question</button></a>
{{! bloc answer }}
<div class="block">
  
  <h1>question</h1>
 
  <button class="new"></button>
  {{#each posts}}
  <div class="question">
   <a href="/forum/answer/{{this._id}}">{{this.title}}</a>
  </div>
   {{/each}}
</div> 