<a href="/forum/presentation"><button>Presentations</button></a>
{{! bloc presentation }}
{{! bloc function }}
<div class="block">
  <h1>Fonction</h1>
  <a href="/forum/function/new"><button class="new">New</button></a>
  {{#each functions}}
  <div class="function">
   <a href="/forum/function/{{this._id}}">{{this.name}}</a>
  </div>
   {{/each}}
<a href="/forum/answer"><button>Question</button></a>
{{! bloc answer }}
<div class="block">
  
  <h1>question</h1>
 
  <button class="new">New</button>
  {{#each posts}}
  <div class="question">
   <a href="/forum/answer/{{this._id}}">{{this.title}}</a>
  </div>
   {{/each}}
</div> 